USE [master]
GO
/****** Object:  Database [DB_SAMARA]    Script Date: 2023-02-20 15:39:50 ******/
CREATE DATABASE [DB_SAMARA] ON  PRIMARY 
( NAME = N'tmmin', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\tmmin.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tmmin_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\tmmin_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_SAMARA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_SAMARA]
GO
/****** Object:  Table [dbo].[TM_COMPONENT]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_COMPONENT](
	[INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_COMPONENT_NAME] [varchar](20) NULL,
	[CHR_COMPONENT_DESC] [varchar](100) NULL,
	[INT_TOOL_ID] [int] NULL,
	[INT_LINE_ID] [int] NULL,
	[DAT_CREATED_AT] [datetime] NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DAT_MODIFIED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TM_COMPONENT] PRIMARY KEY CLUSTERED 
(
	[INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_ITEM]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_ITEM](
	[INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[INT_TOOL_ID] [int] NULL,
	[CHR_ITEM_NAME] [varchar](100) NULL,
	[INT_DURATION] [int] NULL,
	[INT_MP] [int] NULL,
	[CHR_PERIODIC] [varchar](50) NULL,
	[CHR_MEASUREMENT] [varchar](50) NULL,
	[CHR_PREVENTIVE_BY_ITEM] [varchar](50) NULL,
	[DATE_LAST_CHECKED_AT] [datetime] NULL,
	[DATE_SCHEDULE_AT] [datetime] NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[DATE_MODIFIED_AT] [datetime] NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TM_ITEM] PRIMARY KEY CLUSTERED 
(
	[INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_ITEM_CHECK]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_ITEM_CHECK](
	[INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[INT_ITEM_ID] [int] NULL,
	[INT_SEQUENCE_ITEM_CHECK] [int] NULL,
	[CHR_ITEM_CHECK_NAME] [varchar](100) NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[DATE_MODIFIED_AT] [datetime] NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TM_ITEM_CHECK] PRIMARY KEY CLUSTERED 
(
	[INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_ITEM_CHECK_DETAIL]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_ITEM_CHECK_DETAIL](
	[INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[INT_ITEM_CHECK_ID] [int] NULL,
	[INT_METHOD_ID] [int] NULL,
	[INT_SEQUENCE_ITEM_CHECK_DETAIL] [int] NULL,
	[CHR_ACTIVITY_NAME] [varchar](100) NULL,
	[CHR_ITEM_CHECK_DETAIL_NAME] [varchar](100) NULL,
	[CHR_OK_STD] [varchar](50) NULL,
	[CHR_NG_STD] [varchar](50) NULL,
	[FLT_WARN_LOWER_LIMIT] [float] NULL,
	[FLT_LOWER_LIMIT] [float] NULL,
	[FLT_UPPER_LIMIT] [float] NULL,
	[FLT_WARN_UPPER_LIMIT] [float] NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[DATE_MODIFIED_AT] [datetime] NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TM_ITEM_CHECK_DETAIL] PRIMARY KEY CLUSTERED 
(
	[INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_LINE]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_LINE](
	[INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_LINE_NAME] [varchar](20) NULL,
	[CHR_LINE_DESC] [varchar](100) NULL,
	[INT_SHOP_ID] [int] NULL,
	[DAT_CREATED_AT] [datetime] NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DAT_MODIFIED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TM_LINE] PRIMARY KEY CLUSTERED 
(
	[INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_METHOD]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_METHOD](
	[INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_METHOD_NAME] [varchar](20) NULL,
	[CHR_METHOD_DESC] [varchar](100) NULL,
	[DAT_CREATED_AT] [datetime] NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DAT_MODIFIED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TM_METHOD] PRIMARY KEY CLUSTERED 
(
	[INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_PIC]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_PIC](
	[CHR_NPK] [varchar](6) NOT NULL,
	[CHR_USERNAME] [varchar](30) NULL,
	[CHR_PASSWORD] [varchar](35) NULL,
	[CHR_NAME] [varchar](50) NULL,
	[CHR_EMAIL] [varchar](50) NULL,
	[CHR_CONTACT] [varchar](13) NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[DATE_MODIFIED_AT] [datetime] NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TM_PERSONAL_MANAGEMENT] PRIMARY KEY CLUSTERED 
(
	[CHR_NPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_SHOP]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_SHOP](
	[INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_SHOP_NAME] [varchar](20) NULL,
	[CHR_SHOP_DESC] [varchar](100) NULL,
	[INT_PLANT_ID] [int] NULL,
	[DAT_CREATED_AT] [datetime] NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DAT_MODIFIED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TM_SHOP] PRIMARY KEY CLUSTERED 
(
	[INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_SPARE_PARTS]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_SPARE_PARTS](
	[INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_PART_NO] [varchar](15) NULL,
	[CHR_SPARE_PART_NAME] [varchar](50) NULL,
	[CHR_COMPONENT] [varchar](3) NULL,
	[CHR_MODEL] [varchar](10) NULL,
	[CHR_BACK_NO] [varchar](10) NULL,
	[CHR_TYPE] [varchar](1) NULL,
	[CHR_SPESIFICATION] [varchar](80) NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[DATE_MODIFIED_AT] [datetime] NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TM_SPARE_PART] PRIMARY KEY CLUSTERED 
(
	[INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_TOOL]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_TOOL](
	[INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[INT_LINE_ID] [int] NULL,
	[CHR_TOOL_CODE] [varchar](30) NULL,
	[CHR_TOOL_NAME] [varchar](20) NULL,
	[CHR_TOOL_DESC] [varchar](100) NULL,
	[CHR_TOOL_TYPE] [varchar](20) NULL,
	[CHR_SERIAL_NUMBER] [varchar](20) NULL,
	[CHR_LOCATION] [varchar](50) NULL,
	[DAT_RELEASE_YEAR] [date] NULL,
	[CHR_MAKER] [varchar](50) NULL,
	[INT_STD_STROKE] [int] NULL,
	[INT_TOTAL_STROKE] [int] NULL,
	[INT_LAST_STROKE] [int] NULL,
	[CHR_PIC] [varchar](50) NULL,
	[CHR_FLG_PREVENTIVE] [varchar](50) NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DAT_CREATED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[DAT_MODIFIED_AT] [datetime] NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TM_MACHINE] PRIMARY KEY CLUSTERED 
(
	[INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_WIS]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_WIS](
	[INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_WIS_NAME] [varchar](50) NULL,
	[CHR_WIS_DESC] [varchar](100) NULL,
	[CHR_WIS_TYPE] [varchar](15) NULL,
	[CHR_EXT] [varchar](15) NULL,
	[CHR_URL] [varchar](100) NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[DATE_MODIFIED_AT] [datetime] NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TM_WI] PRIMARY KEY CLUSTERED 
(
	[INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TT_JOB]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_JOB](
	[INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[INT_ITEM_ID] [int] NULL,
	[INT_ACTUAL_DURATION] [int] NULL,
	[INT_ACTUAL_MP] [int] NULL,
	[CHR_PERIODIC] [varchar](50) NULL,
	[CHR_MEASUREMENT] [varchar](50) NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[DATE_MODIFIED_AT] [datetime] NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TT_JOB] PRIMARY KEY CLUSTERED 
(
	[INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TT_JOB_PLANNING]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_JOB_PLANNING](
	[INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[INT_JOB_ID] [int] NULL,
	[INT_SEQUENCE_ITEM_CHECK] [int] NULL,
	[CHR_ITEM_CHECK_NAME] [varchar](100) NULL,
	[INT_SEQUENCE_ITEM_CHECK_DETAIL] [int] NULL,
	[CHR_ACTIVITY_NAME] [varchar](100) NULL,
	[CHR_ITEM_CHECK_DETAIL_NAME] [varchar](100) NULL,
	[INT_METHOD_ID] [int] NULL,
	[CHR_VALUE] [varchar](50) NULL,
	[CHR_OK_STD] [varchar](50) NULL,
	[CHR_NG_STD] [varchar](50) NULL,
	[FLT_WARN_LOWER_LIMIT] [float] NULL,
	[FLT_LOWER_LIMIT] [float] NULL,
	[FLT_VALUE] [float] NULL,
	[FLT_UPPER_LIMIT] [float] NULL,
	[FLT_WARN_UPPER_LIMIT] [float] NULL,
	[CHR_CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED_AT] [datetime] NULL,
	[CHR_MODIFIED_BY] [varchar](50) NULL,
	[DATE_MODIFIED_AT] [datetime] NULL,
	[INT_FLG_DEL] [int] NULL,
 CONSTRAINT [PK_TT_JOB_PLANNING_DETAIL] PRIMARY KEY CLUSTERED 
(
	[INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TT_TOOL_PIC]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_TOOL_PIC](
	[CHR_PIC_ID] [varchar](6) NOT NULL,
	[INT_TOOL_ID] [int] NOT NULL,
 CONSTRAINT [PK_TT_TOOL_PIC] PRIMARY KEY CLUSTERED 
(
	[CHR_PIC_ID] ASC,
	[INT_TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TT_TOOL_WIS]    Script Date: 2023-02-20 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_TOOL_WIS](
	[INT_WIS_ID] [int] NOT NULL,
	[INT_TOOL_ID] [int] NOT NULL,
 CONSTRAINT [PK_TT_TOOL_WIS] PRIMARY KEY CLUSTERED 
(
	[INT_WIS_ID] ASC,
	[INT_TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM_COMPONENT] ADD  CONSTRAINT [DF_TM_COMPONENT_INT_FLG_DEL]  DEFAULT ((0)) FOR [INT_FLG_DEL]
GO
ALTER TABLE [dbo].[TM_ITEM] ADD  CONSTRAINT [DF_TM_ACTIVITY_CHR_CREATED_BY]  DEFAULT ('System') FOR [CHR_CREATED_BY]
GO
ALTER TABLE [dbo].[TM_ITEM] ADD  CONSTRAINT [DF_TM_ACTIVITY_DATE_CREATED_AT]  DEFAULT (getdate()) FOR [DATE_CREATED_AT]
GO
ALTER TABLE [dbo].[TM_ITEM] ADD  CONSTRAINT [DF_TM_ACTIVITY_INT_FLG_DEL]  DEFAULT ((0)) FOR [INT_FLG_DEL]
GO
ALTER TABLE [dbo].[TM_ITEM_CHECK] ADD  CONSTRAINT [DF_TM_ACTVITIY_CHECK_CHR_CREATED_BY]  DEFAULT ('System') FOR [CHR_CREATED_BY]
GO
ALTER TABLE [dbo].[TM_ITEM_CHECK] ADD  CONSTRAINT [DF_TM_ACTVITIY_CHECK_DATE_CREATED_AT]  DEFAULT (getdate()) FOR [DATE_CREATED_AT]
GO
ALTER TABLE [dbo].[TM_ITEM_CHECK] ADD  CONSTRAINT [DF_TM_ACTVITIY_CHECK_INT_FLG_DEL]  DEFAULT ((0)) FOR [INT_FLG_DEL]
GO
ALTER TABLE [dbo].[TM_ITEM_CHECK_DETAIL] ADD  CONSTRAINT [DF_TM_ITEM_ACTIVITY_CHECK_CHR_CREATED_BY]  DEFAULT ('System') FOR [CHR_CREATED_BY]
GO
ALTER TABLE [dbo].[TM_ITEM_CHECK_DETAIL] ADD  CONSTRAINT [DF_TM_ITEM_ACTIVITY_CHECK_DATE_CREATED_AT]  DEFAULT (getdate()) FOR [DATE_CREATED_AT]
GO
ALTER TABLE [dbo].[TM_ITEM_CHECK_DETAIL] ADD  CONSTRAINT [DF_TM_ITEM_CHECK_DETAIL_INT_FLG_DEL]  DEFAULT ((0)) FOR [INT_FLG_DEL]
GO
ALTER TABLE [dbo].[TM_LINE] ADD  CONSTRAINT [DF_TM_LINE_INT_FLG_DEL]  DEFAULT ((0)) FOR [INT_FLG_DEL]
GO
ALTER TABLE [dbo].[TM_METHOD] ADD  CONSTRAINT [DF_TM_METHOD_INT_FLG_DEL]  DEFAULT ((0)) FOR [INT_FLG_DEL]
GO
ALTER TABLE [dbo].[TM_SHOP] ADD  CONSTRAINT [DF_TM_SHOP_INT_FLG_DEL]  DEFAULT ((0)) FOR [INT_FLG_DEL]
GO
ALTER TABLE [dbo].[TM_TOOL] ADD  CONSTRAINT [DF_TM_TOOL_DAT_CREATED_AT]  DEFAULT (getdate()) FOR [DAT_CREATED_AT]
GO
ALTER TABLE [dbo].[TM_TOOL] ADD  CONSTRAINT [DF_TM_TOOL_INT_FLG_DEL]  DEFAULT ((0)) FOR [INT_FLG_DEL]
GO
ALTER TABLE [dbo].[TT_JOB] ADD  CONSTRAINT [DF_TT_JOB_CHR_CREATED_BY]  DEFAULT ('System') FOR [CHR_CREATED_BY]
GO
ALTER TABLE [dbo].[TT_JOB] ADD  CONSTRAINT [DF_TT_JOB_DATE_CREATED_AT]  DEFAULT (getdate()) FOR [DATE_CREATED_AT]
GO
ALTER TABLE [dbo].[TT_JOB] ADD  CONSTRAINT [DF_TT_JOB_INT_FLG_DEL]  DEFAULT ((0)) FOR [INT_FLG_DEL]
GO
ALTER TABLE [dbo].[TT_JOB_PLANNING] ADD  CONSTRAINT [DF_TT_JOB_PLANNING_DETAIL_INT_FLG_DEL]  DEFAULT ((0)) FOR [INT_FLG_DEL]
GO
USE [master]
GO
